#content_wrap{
    width: 1200px;
    margin: 0 auto;
}


/************************** table ***********************************/

table {
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    border: none;
}

.table {
    width: 100%;
    text-align: center;
    margin: 40px 0px;
    font-size: 14px;
}

.table tr > th{
    border-right: 1px solid #959595;
    border-bottom: 1px solid #959595;
}

.table tr > td{
    border-bottom: 1px solid #959595;
    text-align: left;
    padding: 10px 0px 10px 10px;
}

.table .th_date{
    border-left: 1px solid #959595;
}


/************************** authArea & btnArea ***********************************/

#content_wrap > div{
    display: inline-block;
    margin: 30px 0px;
}

.authArea{
    float: left;
}

.btnArea{
    float: right;
}

#passwd{
    height: 25px;
    text-indent: 3px;
}